<%- include('partials/header') %>

<header class="showcase">
  <div class="showcase-top">
    <img src="/assets/mFlix-logo.png" alt="" />
    
    <a
      href=""
      class="bton"
      data-toggle="tooltip"
      data-placement="left-end"
      title="Feature Coming Soon... 🫣"
      >Login</a
    >
  </div>
  <div class="showcase-content position-relative m-auto mt-5 text-center d-flex flex-column justify-content-center align-items-center">
    <h1>Watch mFlix collection !</h1>
    <p class="lh-lg fw-bold text-uppercase">Watch upto 1000 movies..Sub for more. Cancel Anytime </p>
    <a href="" class="bton bton-xl">Watch free for 30 Days <i class="fa-solid fa-circle-chevron-right"></i></a>
  </div>
</header>

<%- include('partials/footer') %>
